.inner-circle-background {
  background: rgb(112, 79, 171);
  background: -moz-linear-gradient(180deg, rgba(112, 79, 171, 1) 0%, rgba(234, 228, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(112, 79, 171, 1) 0%, rgba(234, 228, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(112, 79, 171, 1) 0%, rgba(234, 228, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#704fab",endColorstr="#eae4ff",GradientType=1);
  width: 100%;
  height: 18em;
  border-radius: 50%;
  translate: 0% -50%;
  position: absolute;
  z-index: -1;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.4);
}

.inner-circle-layer {
  border-radius: 1.5em;
  z-index: -1;
}

.button-login-accent-purple {
  background-color: #a71bff !important;
  border-radius: 10em;
}

.login-card {
  width: 22em;
  z-index: 2;
  border-radius: 2em;
  background: rgb(112, 79, 171);
  background: -moz-linear-gradient(180deg, rgba(112, 79, 171, 1) 0%, rgba(234, 228, 255, 1) 100%);
  background: -webkit-linear-gradient(180deg, rgba(112, 79, 171, 1) 0%, rgba(234, 228, 255, 1) 100%);
  background: linear-gradient(180deg, rgba(112, 79, 171, 1) 0%, rgba(234, 228, 255, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#704fab",endColorstr="#eae4ff",GradientType=1);
}

.login-form {
  margin-top: 4em;
}

.login-form-control {
  opacity: 0.8;
  border-radius: 10em;
  border: 4px solid #997bc7;
  padding-left: 2.5em;
}

.bootstrap-icon {
  z-index: 2;
  color: #7c54b9;
}

.form-icon {
  left: 0.5em;
  translate: 0 0.1em;
}
